@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: #004a62;
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: #faf7f2;
$borderLight: rgb(138, 138, 138);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 80px;

// font size
$normal: 18px;
$medium: 23px;
$large: 40px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
