@import "./../abstracts/variables.scss";

.carousel {
  background-color: $light;
  margin-top: 5rem;
  color: $light;
  width: 800px;
  height: 206px;
  padding-left: 2em;
  margin: 3rem auto;
  border-radius: $borderRadius1;
  position: relative;
  box-shadow: $boxShadow;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  &:hover {
    background: transparent;
    cursor: pointer;
  }
  &__moviePoster {
    color: $dark;
    position: absolute;
    width: 145px;
    height: 193px;
    left: 25px;
    top: -10px;
    font-size: 20px;
    line-height: 30px;
    border-radius: $borderRadius1;
    box-shadow: $boxShadow;
  }
  &__movieDetails {
    p {
      color: $dark;
      font-size: 28px;
      font-weight: bold;
    }
    h4 {
      color: $dark;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      padding-top: 1rem;
    }

    position: absolute;
    top: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}
