@import "./../abstracts/variables.scss";

.header {
  background: $light;
  position: sticky;
  display: flex;
  flex: 1;
  justify-content: space-between;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: $boxShadow;
  height: $headerHeight;
  padding-top: 1em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-weight: bold;
  &__logo {
    a {
      font-size: $medium;
      text-decoration: none;
      color: $dark;
    }
  }
}
